[user]
	name = Cihangir Akturk
	email = cakturk@gmail.com
[sendemail]
	from = Cihangir Akturk <cakturk@gmail.com>
	smtpServer = smtp.gmail.com
	smtpUser = cakturk@gmail.com
	smtpEncryption = tls
	smtpServerPort = 587
[core]
	editor = vim
[commit]
	verbose = true
[alias]
	glog = log --date-order --graph --all --date=short --pretty=format:'%x09%C(auto)%h  %C(cyan)%ad  %C(green)%<(12,trunc)%aN    %C(reset)%<(50,trunc)%s    %C(auto)%d'
	s = status -sb
	lg = log --branches --remotes --tags --graph --oneline --decorate
; [url "git@github.com:"]
; 	insteadOf = https://github.com/
